* {
    margin: 0px;
    padding: 0px;
}

/*common shared style*/
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    background: #E55473;
    border-radius: 8px;
    border: 0px;
    padding: 10px 25px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}
.section-tittle{
    color: #272727;
text-align: center;
font-size: 30px;
font-weight: 800;
margin-bottom: 10px;
}
.section-description{
    color: rgba(39, 39, 39, 0.60);
text-align: center;
font-size: 18px;
font-weight: 400;
margin-bottom: 90px;
}

/*header style section*/
.header {
    background-color: rgba(229, 84, 115, 0.10);
}

/*banner style section*/
.banner {
    display: flex;
    padding: 30px 30px 0px 147px;
    align-items: center;
    justify-content: space-between;
}

.banner-contain {
    max-width: 500px;
}

.banner-image {
    max-width: 500px;
}

.banner-tittle {
    color: #272727;
    font-family: Lato;
    font-size: 62px;
    font-weight: 900;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*main style*/
main{
    max-width: 1250px;
    margin: auto;
}
main section{
    margin-top: 120px;
}
/*feature  section style*/
.feature{
    padding: 110px;
    margin: auto;
}
.feature-image-container{
    display: flex;
    justify-content: space-around;
}
.image-one{
    width: 280px;
height: 420px;
   padding: 30px 10px ;
border-radius: 300px 300px 0px 0px; 
background: rgba(167, 33, 98, 0.15);
}

.f-image-one{
    width: 270px;
    
    
}

.feature-imagename{
    display: flex;
    justify-content: space-around;
}
.image-name{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-weight: 700;
text-decoration-line: underline;
}


