* {
    margin: 0px;
    padding: 0px;
}

/*common shared style*/
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    background: #E55473;
    border-radius: 8px;
    border: 0px;
    padding: 10px 25px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.section-tittle {
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 10px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 90px;
}

.text-primary {
    color: #E55473;
}

/*header style section*/
.header {
    background-color: rgba(229, 84, 115, 0.10);
}

/*banner style section*/
.banner {
    display: flex;
    padding: 30px 30px 0px 147px;
    align-items: center;
    justify-content: space-between;
}

.banner-contain {
    max-width: 500px;
}

.banner-image {
    max-width: 500px;
}

.banner-tittle {
    color: #272727;
    font-family: Lato;
    font-size: 62px;
    font-weight: 900;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 14px;
    font-weight: 400;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
}

/*main style*/
main {
    max-width: 1250px;
    margin: auto;
}

main section {
    margin-top: 120px;
}

/*feature  section style*/
.feature {
    padding: 110px;
    margin: auto;
}

.feature-image-container {
    display: flex;
    justify-content: space-around;
}

.image-one {
    width: 280px;
    height: 420px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

#image-two {
    background: rgba(5, 151, 160, 0.15);
}

#image-three {
    background: rgba(71, 125, 17, 0.15);
}

.f-image-one {
    width: 250px;
    padding: 75px 30px 30px 10px;
}

.f-image-two {
    width: 320px;
    padding: 80px 30px 0px 0px;
}

.f-image-three {
    width: 250px;
    padding: 45px 0px 0px 0px;
}

.feature-imagename {
    display: flex;
    justify-content: space-around;
}

.image-name {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* hot deal section style */
.hotdeal-feature {
    display: flex;
    padding: 30px 30px 0px 147px;
    align-items: center;
    justify-content: space-between;
}

.hotdeal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.section-hotdeal {
    max-width: 500px;
    text-align: center;
}

.hotdael-tittle {
    color: #272727;
    font-size: 33px;
    font-weight: 800;
    margin-bottom: 10px;
}

.hotdeal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 9px;
}

.btn-signup {
    background: #E55473;
    border-radius: 8px;
    border: 0px;
    padding: 10px 25px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.image-hotdeal {
    width: 300px;
    padding: 10px 100px 10px 0px;
}

/* instagram section style */
.instagram {
    padding: 110px;
    margin: auto;
}

.instagrame-imagebox-container {
    display: flex;
    justify-content: space-around;
}

.imagebox {
    width: 220px;
    height: 220px;
    background: rgba(167, 33, 98, 0.15);
}

.instagram-imagebox {
    width: 220px;
    height: 286px;
}

/* deals section styles */
.deals {
    padding: 110px;
    margin: auto;

}

.deals-feature {
    width: 1040px;
    height: 500px;
    background-image: url('./asset/image/Rectangle 9.png');
    background-repeat: no-repeat;
}

.deals-feature-details {
    display: flex;
    padding: 90px 30px 500px 300px;
    align-items: center;
}

input {
    width: 300px;
    height: 44px;
    text-align: center;
    border-radius: 8px;
    background: #FFF;
}

.btn-subscribe {
    text-align: center;
    background: #E55473;
    border-radius: 8px;
    border: 0px;
    padding: 10px 25px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.deals-tittle {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.deals-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 10px;
}

/* footer section style */
footer {
    padding: 110px;
    margin: auto;
    background: #111010;
}

.footer-tittle {
    color: #FFFFFF;
    text-align: center;
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 10px;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.footer-copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}